*{
	margin:0;
	padding: 0;
}
body{

	background-color: grey;

}
header{
	background-color: #4AEA8B;
}

#img1{
	margin-top: 5px;
	margin-left: 5px;
	width:100px; 
	height:70px;
}
li{
     float: left;
     list-style: none;     
}

nav{
	float: right;
	margin-top : 20px;
	margin-right: 150px;
	
}

.btn{

	position: relative;
    display: inline-block;
    padding: 10px 75px;
    color: white;
    letter-spacing: 2.5px;
    text-decoration: none;
    font-size: 23px;
    overflow: hidden;
    font-family: arial;
}

.btn:hover{
    background: #44F5E3   ;
    box-shadow: 0 0 10px #00FFE5   , 0 0 40px #00FFE5   , 0 0 80px #00FFE5   ;
    transition-delay: 1s;
}


.btn span{
	position: absolute;
	display: block;
}

#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#23F7FA   );
 }
.btn:hover #span1{
    left: 100%;
    transition: 1s;
}
 #span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#23F7FA   );
}
.btn:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#23F7FA   );
}
.btn:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#23F7FA   );
}
.btn:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


.container{
display: flex;
align-items: top;
width: 100%;
height: 50%;
position: relative;

}
.txt {
	margin-top: 0;
	width: 100%;
    margin-top: 0px;
	text-align: center;
	position: absolute;
	padding: 0;
}
.txt h1{
	margin-top: 0px;
    text-shadow: 5px 5px 5px #ACF9D8    ;
    background-color: transparent; 
    color: black  ;
    padding: 0px;
    letter-spacing: 14px;
	background-color: transparent;
	font-size: 65px;
	font-family: open sans;

}

#img2{

width: 100%;
height: 710px;

}
.cajamadre{
	width: 100%;
	background-color: #fff;
	height: 800px;
}

.caja1{
	margin-bottom: 30px;
	margin-left: 90px;
	margin-top: 200px;
	padding: 20px;
	width: 45%;
	float: left;
	font-size: 35px;
	font-family: open sans;
	
}
.caja1 h1,p{
	padding: 10px;

}

.caja1 h1{
	text-shadow: 5px 5px 5px #ACF9D8;
}
.title {
font-family: open sans;
	text-align: center;

}
.text{
	
	text-align: justify;
}

.caja2{
	text-align: right;

	margin-right: 50px;
	margin-top: 0px;
}
#img3{
margin-top: 210px;
	width: 700px;
	height: 400px;
}
.caja2 :hover{
	box-shadow: 19px 19px 10px #C0EE3D ;
}

.contenedor-contacto{
	margin-top: 0px;
	width: 100%;
	height: 600px;
	background-color: grey;
	color: white;
	
}

#contactos {
	text-align: center;
	font-size: 25px;
	font-family: arial;

margin-top: 150px;
	margin-left: 150px;
	width: 40%;


letter-spacing: 3px;
}
#contactos h2,h3,p{
	padding: 20px;
}


#redes{
	float: right;
	margin-top: -400px;
	margin-right: 200px;
font-family: arial;

}
#redes h1{
	text-align: center;
}

#redes li{
	padding: 40px;
}

footer{
padding: 30px;
background-color: #4AEA8B ;
}
#footer1{
	text-align: center;
	color: black;
	font-family: arial;
	font-size: 18px;
}
